button{
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

.boton-clic{
    background-color: #0041ff;
}

.boton-clic:hover{
    background-color: #002ead;
    transition: 0.3 ease;
}

.boton-reiniciar{
    background-color: #c70000;
}

.boton-reiniciar:hover{
    background-color: #a70101;
    transition: 0.3 ease;
}