.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: #1b1b32;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 9px solid #1b1b32;
    margin-bottom: 8px;
}