* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    /* background-color: #1b1b32; */
    background-color: #f5f6f7;
}

.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2px;
/*     margin-bottom: -20px; */
}

.freecodecamp-logo{
    height: 50px;
}

.contenedor-principal{
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

